@charset "windows-1252";


@font-face {
    font-family: "NeueHaasLight";
    src: url("../fonts/NeueHaasDisplayLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "NeueHaasMedium";
    src: url("../fonts/NeueHaasDisplayMedium.ttf") format("truetype");
    font-weight:bold;
    font-style:normal;
         
}

.font-medium {
    font-family: 'NeueHaasMedium', sans-serif;
}

.font-light {
    font-family: 'NeueHaasLight', sans-serif;
}