@charset "windows-1252";


@font-face {
    font-family: "NeueHaasLight";
    src: url("../fonts/neuehaasdisplay-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "NeueHaasMedium";
    src: url("../fonts/neuehaasdisplay-medium.ttf") format("truetype");
    font-weight:bold;
    font-style:normal;
         
}