@charset "windows-1252";
.topButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 36px;
    padding-left: 16px;
}

.buildingName {
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px black solid;
}
.buildingName h1 {
    margin-bottom: 0;
    line-height: 1;
    font-size: 60px;
    font-weight: bold;
}

.floorContainer {
    padding-top: 8px;
    padding-left: 10px;
    display: flex;
}
.floorLinks {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 16px;
    color: black;
}
.floorLinks:visited {
    text-decoration: none;
}
.floorLinks:hover {
    color: #fccc4c;
}

.floorAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
}

.floorName {
    display: flex;
    vertical-align: middle;
}
.floorName h1 {
    font-size: 44px;
    font-weight: bold;
}
.buttonsBuilding {
    margin: 8px 8px;
    background-color: #fccc4c;
    border: none;
    font-weight: bold;
    padding: 16px 32px;
    font-size: 18px;
    -webkit-appearance: none; /* Reset button appearance for WebKit browsers */
    -moz-appearance: none; /* Reset button appearance for Mozilla browsers */
    appearance: none; /* Reset button appearance for other browsers */
}
.buttonsBuilding:hover {
    background-color: #ffcc00;
}

.roomDropsdiv {
    margin-top: 20px;
    margin-right: 24px;
}

.roomDropdowns {
    list-style-type: none;
}
#paginationControls {
    text-align: center;
    margin-top: 15px;
}
.page-btn {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid black; /* Border color */
    background-color: #fccc4c;   /* Background color */
    color: black;            /* Text color */
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Add a smooth hover effect */
}
.page-btn:hover {
    background-color: #ffcc00; /* Blue background on hover */
    color: black;              /* White text on hover */
}
.page-btn.active {
    background-color: black; /* Active button background */
    color: #fccc4c;              /* Active button text color */
    border-color: black;     /* Border color for the active button */
}


.roomDropdown {
}

.roomDropdiv {
}

.roomDLblDiv {
    background-color: #fccc4c;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
}
.roomDLblDiv button:hover {
    background-color: #ffcc00; /* Change button color on hover */
}
.roomDLblDiv:has(button:hover) {
    background-color: #ffcc00; /* Change div color when button is hovered */
}
.roomDLblDiv button {
    background-color: #fccc4c;
    font-weight: bold;
    margin-top: 8px;
    padding-right: 80px;
    border: none;
}

.roomDTblDiv {
    display: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.roomDTblDiv table {
    width: 100%; /* Ensure the table takes up the full width of the div */
    font-weight: bold;
}
.roomDTblDiv th {
    background-color: black;
    color: white;
    border: solid 1px black;
}
.roomDTblDiv tr {
    border: solid 1px black;
}

.statusDropdown {
    font-size: 16px;
    padding: 5px;
    width: 160px;
}
.working {
    background-color: green;
    color: white;
    font-weight: bold;
}
.nwork {
    background-color: red;
    color: white;
    font-weight: bold;
}
.maintenance {
    background-color: orange;
    color: white;
    font-weight: bold;
}

table {
        border-collapse: collapse; /* Collapse borders to avoid double borders */
        width: 100%; /* Optional: Set table width */
        margin: 0; /* Reset margin */
            padding: 0; /* Reset padding */
    }

    table th, table td {
    border-left: 1px solid #ccc; /* More specific selector */
    border-right: 1px solid #ccc; /* More specific selector */
}


    /* Optional: Change the border color on hover */
    tr:hover {
        background-color: #f9f9f9; /* Light gray background on row hover */
    }

@media (max-width: 400px) {
    .roomDTblDiv tr {
        margin-bottom: 10px;
    }
    .buttonsBuilding{
        padding: 8px 16px;
        font-size: 16px;
    }
}
