@charset "windows-1252";
.topButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 36px;
    
}

.floorContainer {
    
    display: flex;
}


.floorAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 8px;
}

.floorName {
    display: flex;
    vertical-align: middle;
}
.floorName h1 {
    font-size: 44px;
    font-weight: bold;
}


.roomDropsdiv {
    margin-top: 20px;
    
}

.roomDropdowns {
    list-style-type: none;
}
#paginationControls {
    text-align: center;
    margin-top: 15px;
}
.page-btn {
    margin: 0 5px;
    
    border: 1px solid black; /* Border color */
    background-color: #fccc4c;   /* Background color */
    color: black;            /* Text color */
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Add a smooth hover effect */
}
.page-btn:hover {
    background-color: #ffcc00; /* Blue background on hover */
    color: black;              /* White text on hover */
}
.page-btn.active {
    background-color: black; /* Active button background */
    color: #fccc4c;              /* Active button text color */
    border-color: black;     /* Border color for the active button */
}


.roomDropdown {
}

.roomDropdiv {
}

/*thead{
    background-color: black !important;
    color: white !important;
}
table.dataTable>thead>tr:hover td,
table.dataTable>thead>tr:hover th {
  background-color: #fccc4c !important;
  color: black !important;
  border: solid 1px black !important;
}
table.dataTable thead>tr>th.dt-orderable-asc span:hover,
table.dataTable thead>tr>th.dt-orderable-desc span:hover,
table.dataTable thead>tr>th.dt-ordering-asc span:hover,
table.dataTable thead>tr>th.dt-ordering-desc span:hover,
table.dataTable thead>tr>td.dt-orderable-asc span:hover,
table.dataTable thead>tr>td.dt-orderable-desc span:hover,
table.dataTable thead>tr>td.dt-ordering-asc span:hover,
table.dataTable thead>tr>td.dt-ordering-desc span:hover {
    color: black;*/ /* Change this to your hover color */
/*}*/
div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
  border: 1px solid black !important;
  background-color: #fccc4c !important;
}


.roomDLblDiv {
    background-color: #fccc4c;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
}
.roomDLblDiv button:hover {
    background-color: #ffcc00; /* Change button color on hover */
}
.roomDLblDiv:has(button:hover) {
    background-color: #ffcc00; /* Change div color when button is hovered */
}
.roomDLblDiv button {
    background-color: #fccc4c;
    font-weight: bold;
    margin-top: 8px;
    
    border: none;
}

.roomDTblDiv {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.roomDTblDiv table {
    width: 100%; /* Ensure the table takes up the full width of the div */
    font-weight: bold;
}
/*.roomDTblDiv th {
    background-color: black;
    color: white;
    border: solid 1px black;
}
.roomDTblDiv tr {
    border: solid 1px black;
}*/

.statusDropdown {
    font-size: 16px;
    
    width: 160px;
}

.roomDTblDiv2 table {
    width: 100%; /* Ensure the table takes up the full width of the div */
    font-weight: bold;
}
/*.roomDTblDiv2 th {
    background-color: black;
    color: white;
    border: solid 1px black;
}
.roomDTblDiv2 tr {
    border: solid 1px black;
}*/

/*.working {
    background-color: green;
    color: white;
    font-weight: bold;
}
.nwork {
    background-color: red;
    color: white;
    font-weight: bold;
}
.maintenance {
    background-color: orange;
    color: white;
    font-weight: bold;
}*/

/*table {
        border-collapse: collapse;*/ /* Collapse borders to avoid double borders */
        /*width: 100%;*/ /* Optional: Set table width */
        /*margin: 0;*/ /* Reset margin */
            /*padding: 0;*/ /* Reset padding */
    /*}

    table th {
    border-left: 1px solid #ccc;*/ /* More specific selector */
    /*border-right: 1px solid #ccc;*/ /* More specific selector */
/*}*/


    /* Optional: Change the border color on hover */
    /*tr:hover {
        background-color: #f9f9f9;*/ /* Light gray background on row hover */
    /*}*/
    

.onlyAir {
    display: none;
}
.onlyEditAir{
    display:none;
}

@media (max-width: 800px) {
    .roomDTblDiv tr {
        margin-bottom: 10px;
    }
    .buttonsBuilding{
        
        font-size: 16px;
    }
    .buttonsBuilding {
        
        font-size: 16px;
    }
    .floorAndButtons {
        display: block;
        margin-top: 12px;
    }
    .floorAndButtons div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
