.rating-wrapper {
  display: flex; /* Makes the rating stars use flex layout */
  justify-content: center; /* Centers the stars horizontally */
  align-items: center; /* Centers the stars vertically if needed */
  flex-direction: row-reverse;
}

.star-rating {
  color: #E1E6F6;
  cursor: pointer;
  display: inline-flex;
  font-size: 2rem;
  padding: 1rem .6rem;
  transition: color 0.5s;
}

svg {
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(4px 1px 6px rgba(198, 206, 237, 1));
  filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
}

input {
  display: none;
}

label:hover,
label:hover ~ label,
input:checked ~ label {
  color: #fbbe15;
}
