.sidebar {
    background-color: #2c2c2c;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
    font-family: NeueHaasLight, sans-serif;
}
.sidebarunder {
    background-color: #2c2c2c;
    height: 100vh; /* Ensures full page height */
    padding: 20px;
    color: white;
    overflow-y: auto;
    width: 250px;
    top: 0;
    left: 0;
    position: relative; /* Ensure sidebar is positioned correctly */
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #444;
    border-radius: 5px;
}

.sidebar .active {
    background-color: #ffca2c;
    color: yellow;
    border-radius: 5px;
}

.todo-list {
    margin-top: 20px;
}

.todo-item {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .sidebar {
        position: relative; 
        width: 100%; 
        height: auto; /* Adjust height */
        padding: 10px; /* Add padding for smaller screens */
        font-family: NeueHaasLight, sans-serif;
    } 
    .sidebarunder {
        /*position: fixed; 
        width: 100%;*/
        background-color: Green;
        height: auto; /* Adjust height */
        padding: 10px; /* Add padding for smaller screens */
    }

    .sidebar a {
        float: none; /* Avoid floating elements */
        text-align: center; /* Center text on smaller screens */
    }

    .sidebar h2, .sidebar p {
        text-align: center; /* Center heading and text */
    }
}
